Panda.Phone/Service References/ServiceReference/Panda.Phone.DataModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecycleActivitys">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecycleActivitys" nillable="true" type="tns:RecycleActivitys" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecycleActivitys" nillable="true" type="tns:ArrayOfRecycleActivitys" />
  <xs:complexType name="RecycleActivitys">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocationList" nillable="true" type="tns:ArrayOfAdrress" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecycleActivitys" nillable="true" type="tns:RecycleActivitys" />
  <xs:complexType name="ArrayOfAdrress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adrress" nillable="true" type="tns:Adrress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdrress" nillable="true" type="tns:ArrayOfAdrress" />
  <xs:complexType name="Adrress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adrress" nillable="true" type="tns:Adrress" />
  <xs:complexType name="ArrayOfRecycleFriends">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecycleFriends" nillable="true" type="tns:RecycleFriends" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecycleFriends" nillable="true" type="tns:ArrayOfRecycleFriends" />
  <xs:complexType name="RecycleFriends">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityList" nillable="true" type="tns:ArrayOfRecycleActivitys" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatestActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecycleFriends" nillable="true" type="tns:RecycleFriends" />
</xs:schema>