Panda.Phone/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" />
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecycleActivityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecycleActivityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getRecycleActivityListResult" nillable="true" type="q1:ArrayOfRecycleActivitys" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecycleFriendList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getRecycleFriendListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getRecycleFriendListResult" nillable="true" type="q2:ArrayOfRecycleFriends" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getAddressByNameResult" nillable="true" type="q3:ArrayOfAdrress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>