Panda.Phone.Acquirer/Service References/AcquirerServiceReference/Panda.Phone.DataModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdrress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Adrress" nillable="true" type="tns:Adrress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdrress" nillable="true" type="tns:ArrayOfAdrress" />
  <xs:complexType name="Adrress">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adrress" nillable="true" type="tns:Adrress" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfItems">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Items" nillable="true" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItems" nillable="true" type="tns:ArrayOfItems" />
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Items" nillable="true" type="tns:Items" />
</xs:schema>