Panda.Phone.Acquirer/Service References/AcquirerServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" />
  <xs:element name="GetChoicedPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="list" nillable="true" type="q1:ArrayOfAdrress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChoicedPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="GetChoicedPointResult" nillable="true" type="q2:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getAllUserResult" nillable="true" type="q3:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getItemsByUserIdResult" nillable="true" type="q4:ArrayOfItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemsByCategoryId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getItemsByCategoryIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Panda.Phone.DataModel" minOccurs="0" name="getItemsByCategoryIdResult" nillable="true" type="q5:ArrayOfItems" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>